$size__site-main: 100%;
$size__site-sidebar: 25%;

// Container
$container__max-width: 1250px;
$container__padding-mobile: 1rem;
$container__padding-tablet: 2rem;
$container__padding-desktop: 1.5rem;
